notifications:
  email: false

git:
  depth: false
  quiet: true

service:
- docker

language: java
jdk: oraclejdk8

addons:
  apt:
    packages:
    - sudo
    - lsof
    - wget
    - bash
    - curl
    - jq
    - libxml2-utils
    - unzip
    - python-pip

install: true
before_install:
- sudo pip install httpie >/dev/null 2>&1
- source <(curl -s https://raw.githubusercontent.com/daggerok/bash-functions/master/main.bash)
- stop_any 80 8080

script:
#- ./mvnw >/dev/null
#
- ./mvnw -pl :interceptors
- bash ./8/interceptors/target/*-thorntail.jar &
- wait_for 8080
- sleep 15
- http :8080 who=cares
- http :8080 name:='["Maksimko"]'
- http :8080 name=Maksimko
- stop_any 8080
#
- ./mvnw -pl :jpa clean package
- bash ./8/jpa/target/*-thorntail.jar &
- wait_for 8080
- sleep 15
- http :8080 hello=world
- http :8080 ololo=trololo
- http :8080 car:='{"color":"RED"}'
- http :8080 no='nope, really..' car:='{"color":null}'
- http :8080 array:='["hello","world"]' car:='{"color":"Oops, I did it again..."}'
- stop_any 8080
#
- ./mvnw -pl :cdi-events clean package
- bash ./8/cdi-events/target/*-thorntail.jar &
- wait_for 8080
- sleep 15
- http post :8080 color=white
- http post :8080 ololo=trololo
- stop_any 8080
#
- ./mvnw -pl :scopes clean package
- bash ./8/scopes/target/*-thorntail.jar &
- wait_for 8080
- sleep 15
- http :8080
- stop_any 8080
#
- ./mvnw -pl :produces clean package
- bash ./8/produces/target/*-thorntail.jar &
- wait_for 8080
- sleep 15
- http :8080/red
- http :8080/ololo || true
- http :8080
- stop_any 8080
#
- ./mvnw -pl :stateless-ejb clean package
- bash ./8/stateless-ejb/target/*-thorntail.jar &
- wait_for 8080
- sleep 15
- http :8080 color=red engineType=electric
- http :8080 color=red
- http :8080 engineType=electric
- http :8080 ololo=trololo
- stop_any 8080
#
- ./mvnw -pl :micro-service clean package
- bash ./micro-service/target/*-thorntail.jar &
- wait_for 8080
- sleep 15
- http :8080
- http :8080/health
- stop_any 8080
